.country-container{
    padding: 20px 0px;
    width: 90%;
    max-width: 1300px;
    margin: auto;
}


button{
    cursor: pointer;
}


@media screen  and (min-width:650px){
    .country-container{
        height: 80vh;
    }
}


